body,
.form-control,
.form-control:focus {
  background-color: slategray;
  color: white;
  font-weight: 600;
}

.alert {
  position: absolute;
  width: 50%;
  top: 0;
  left: 25%;
  transition: all 1s ease;
}

.alert.show {
  top: 5%;
}

.form-control {
  border: none;
  border-bottom: thin solid white;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-bottom: thin solid white;
}
